@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2><a asp-action="Create" asp-controller="Employee">Store the data in Data Base(MLI)</a></h2>
    <h2><a asp-action="saveMLIC" asp-controller="Employee">Store the data in Data Base(MLIC)</a></h2>
    <h2><a asp-action="saveMLUC" asp-controller="Employee">Store the data in Data Base(MLUC)</a></h2>
    <h2><a asp-action="saveMLUS" asp-controller="Employee">Store the data in Data Base(MLUS)</a></h2>
    <h2><a asp-action="getNewEmployeeList" asp-controller="Employee">Store the data New Employees Data</a></h2>
    <h2><a asp-action="updatedEmployeeList" asp-controller="Employee">Store the data Updated Employees Data</a></h2>

</div>
